body {
    margin: 0;
    font-size:100%;
}
#mainscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: "Trade Winds", serif;
    background-image: linear-gradient(bottom, rgb(200,0,0) 0%, rgb(80,0,0) 100%);
    background-image: -o-linear-gradient(bottom, rgb(200,0,0) 0%, rgb(80,0,0) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(200,0,0) 0%, rgb(80,0,0) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(200,0,0) 0%, rgb(80,0,0) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(200,0,0) 0%, rgb(80,0,0) 100%);
}
#mainscreen h1 {
    margin: 0.5em 0;
    font-size: 8em;
    color: #050;
    text-shadow: -5px 0 #0A0, 0 5px #070, 5px 0 #080, 0 -5px #0A0;
    width: 100%;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#mainscreen h2 {
    font-family: "Skranji", serif;
    margin: 0.2em 0;
    font-size: 5em;
    color: #FFF;
    width: 100%;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#mainscreen a {
    font-family: "Skranji", serif;
    font-size: 3em;
    color: #FFF;
    text-decoration: none;
    margin: 3em;
    padding: 0.6em;
    background: #A00;
    border-radius: 10px;
}

#mainscreen #levels {
    width: 100%
}
#mainscreen #levels .level {
    width: auto;
    margin: 0.1em;
    padding: 0.3em 0.5em;
    color: #0A0;
    text-shadow: -3px 0 #030, 0 3px #030, 3px 0 #030, 0 -3px #030;
    background-color: #060;
    cursor: pointer;
    border-radius: 10px;
    display: inline-block;
    font-family: "Skranji", serif;
    font-size: 3em;
    border: 3px solid #040;
    background-image: linear-gradient(bottom,         #060 0%, #080 100%);
    background-image: -o-linear-gradient(bottom,      #060 0%, #080 100%);
    background-image: -moz-linear-gradient(bottom,    #060 0%, #080 100%);
    background-image: -webkit-linear-gradient(bottom, #060 0%, #080 100%);
    background-image: -ms-linear-gradient(bottom,     #060 0%, #080 100%);
}

#overlay {
    position: absolute;
    right: 0;
    padding: 10px;
    margin: 10px;
    background-color: #FFF;
    opacity: 0.7;
    z-index: 100;
    border-radius: 10px;
}
#overlay h1 {
    
}
canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
